name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:

  build:
    # deploying on aws
    runs-on: self-hosted

    steps:
    - name: Pull docker image
      run: sudo docker pull samthemaverick/my-portfolio:latest
    - name: Delete the old Docker container
      run: sudo docker rm -f my-portfolio-container || true
    - name: Run Docker container
      run: sudo docker run -d -p 8000:8000 --restart=always --name my-portfolio-container samthemaverick/my-portfolio